body,html {
	background-image: url(/assets/images/bg.png);
}

body {
	position: relative;
	padding-bottom: 4em;
}

.container {
	background-color: white;
	-moz-box-shadow: 2px 2px 10px 2px #BFBFBF;
	-webkit-box-shadow: 2px 2px 10px 2px #BFBFBF;
	box-shadow: 2px 2px 10px 2px #BFBFBF;
	padding: 1em;
	margin-top: 3em;
}

#logo {
	text-align: center;
}

#logo img {
	width: 850px;
}

#carousel {
	height: 350px;
}

#bio-text {
  vertical-align: top;
  text-align: justify;
  padding-right: 40px;
}

#bio-table {
  position: relative;
  bottom: 0;
  padding-left: 4em;
  padding-right: 4em;
}

#index-text {
	vertical-align: top;
	text-align: justify;
}

#content {
	padding: 1em;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.navbar .nav > li {
  text-align: center;
}

.navbar .nav > li:hover {
  background-color: #400080;
  color: white;
}



// ****************************************************************
// *********************** DROPDOWN MENUS *************************
// ****************************************************************

.sidebar-nav {
  padding: 9px 0;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
  color: white;
}

.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}

.dropdown-menu {
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
}

.dropdown-menu a {
  white-space: normal;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  color: black;
  background-color: #E3E3E3;
  background-image: none;
}

.navbar .nav > li > a {
  color: black;
}

.navbar .nav > li > .dropdown-menu::before {
  display: none;
}

.navbar .nav > li > .dropdown-menu::after {
  display: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: white;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #400080;
  color: white;
}


// ****************************************************************
// ************************* CONTACT FORM *************************
// ****************************************************************

label {
    display: block; 
    padding-bottom: 5px; 
    margin-top: 20px;
}
 
#contactform {
    width: 500px; 
    overflow: hidden;
}
 
#contactform li {
    list-style: none; 
    padding-bottom: 20px;
}


//Textfield style 
#contactform li .fieldbox {
    float: left; 
    height: 27px; 
    padding-left: 5px;
}
 
#contactform li .fieldbox input {
    height: 27px; 
    padding-top: 5px;
    width: 400px;
}

#contact-text {
  padding-top: 30px;
}

// *************Change the width of the contact no. field *************
#contactform li .fieldbox #contact {
    width: 200px;
}


// *************Textarea Style *************
#contactform li .msgbox {
    float: left; 
    height: 110px; 
    padding-left: 5px;
}
 
#contactform li .msgbox textarea {
    height: 110px;
    padding-top: 5px;
    width: 400px;     
}
// *************Button Style *************
#sendbutton {
    background-color: #400080; color: white; 
    cursor: pointer;
    padding: 5px 10px; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}