<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Oden Development {{if page.title}} - {{page.title}} {{ endif }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Oden Development">
	<meta name="author" content="Oden Development">

	<!-- Le styles -->
	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/assets/css/site.css" rel="stylesheet">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	 <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
<!--     <link rel="shortcut icon" href="bootstrap/ico/favicon.ico">
	 <link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/ico/apple-touch-icon-144-precomposed.png">
	 <link rel="apple-touch-icon-precomposed" sizes="114x114" href="bootstrap/ico/apple-touch-icon-114-precomposed.png">
	 <link rel="apple-touch-icon-precomposed" sizes="72x72" href="bootstrap/ico/apple-touch-icon-72-precomposed.png">
	 <link rel="apple-touch-icon-precomposed" href="bootstrap/ico/apple-touch-icon-57-precomposed.png"> -->
	</head>

	<body>

		<div class="container">
			<div id="logo">
				<img src="/assets/images/logo.png" />
			</div>

			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav row-fluid">
						<li class="span3"><a href="/">HOME</a></li>
						{% for category in site.categories %}
						<li class="dropdown span3">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								{{ category[0] }}
							</a>
							<ul class="dropdown-menu">
								{% for post in category[1] %} 
								<li><a href="{{ post.url }}">{{ post.title }}</a></li> 
								{% endfor %}
								{% if category[0] == 'SERVICES' %}
								<li><a href="http://www.yukidukeproductions.com/">MEDIA</a></li>
								{% endif %}
							</ul>
						</li>
						{% endfor %}
						<li class="span3"><a href="/contact.html">CONTACT US</a></li>
					</ul>
				</div>
			</div>

			<div id="content">
				{{content}}
			</div>

			<div id="footer">
				<small>
					ODEN DEVELOPMENT LLC &emsp;|&emsp; 11241 DORSEY DRIVE, MIAMI, FL 33176 &emsp;|&emsp; 516.965.6835
				</small>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/bootstrap/js/bootstrap.js"></script>
		<script>
		$('.carousel').carousel();
		</script>
	</body>
	</html>
